.row {
  display: flex;
  justify-content: center;
}

.cell {
  width: 40px;
  height: 40px;
  background: green;
  border: 1px solid darkgreen;
}

.mole {
  background: url("mole.png") no-repeat center;
  background-size: 80%;
}