.row {
  display: flex;
  justify-content: center;
}

.cell {
  width: 40px;
  height: 40px;
  background: green;
  border: 1px solid darkgreen;
}

.mole {
  background-color: green;
  background-image: url("mole.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}